:root {
    --contour: var(--primary);
}

.dark {
    --contour: white;
}

.home-info-flex {
    display: flex;
    align-items: flex-start;
}
.home-info-profile-picture {
    margin-right: 20px;
}
.home-info-profile-picture img {
    max-width: 150px;
    max-height: 150px;
    border-radius: 60%;
}

.gallery-item {
    margin-bottom: 3em;
    border: 40px solid var(--contour);
    /* transition: transform 0.2s ease-in-out; */
}

.gallery-image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 0px !important;
    margin:  0px !important;
}